$ff: "Roboto", serif;
$fs: 18px;


$cursor-color: tomato;
$border-color: #12e09b;
$text-stroke: tomato;

$red: tomato;

$transition-standart: .3s cubic-bezier(.455, .03, .427, .964);


// Breakpoints for each query
$phone: "only screen and (max-width: 375px)";
$phone-xl: "only screen and (max-width: 479px)";
$note: "only screen and (max-width: 767px)";
$tablet: "only screen and (max-width: 1024px)";
$laptop: "only screen and (max-width: 1366px)";
$desktop: "only screen and (max-width: 1680px)";
$desktop-xl: "only screen and (max-width: 1920px)";


// @mixin respond-to($media) {
// 	@if $media == phone {
// 		@media (max-width: $phone) {
// 			@content;
// 		}
// 	}

// 	@else if $media == phone-xl {
// 		@media (max-width: $phone-xl) {
// 			@content;
// 		}
// 	}

// 	@else if $media == note {
// 		@media (max-width: $note) {
// 			@content;
// 		}
// 	}

// 	@else if $media == laptop {
// 		@media (min-width: $laptop) {
// 			@content;
// 		}
// 	}

// 	@else if $media == desktop {
// 		@media (min-width: $desktop) {
// 			@content;
// 		}
// 	}

// 	@else if $media == desktop-xl {
// 		@media (min-width: $desktop-xl) {
// 			@content;
// 		}
// 	}
// }
