---
webTitle: 'Lalaland'
webDescription: 'lalalalland'


title: Started pages
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# partial example #}
{% include "partials/_header.html" %}

<main class="main">

  <div class="wrapper">

    <div>
      <img class="hover-target" src="./img/1_2560.webp" alt>
      <img src="./img/2_2560.webp" alt>
      <img src="./img/3_2560.webp" alt>
      <img src="./img/4_2560.webp" alt>
      <img src="./img/5_2560.webp" alt>
    </div>

  </div>
</main>

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>


{# variable example #}
{# <h1>312{{title}}1</h1> #}

{# mixin example #}
{# {{mixins.icon('facebook')}} #}

{# data usage example #}
{# {% import "data/data.html" as tests %}

  {% for test in tests.list %}
    <li>{{test.title}}</li>
  {% endfor %} #}
{# end of example #}

{# partial example #}
{% include "partials/_footer.html" %}

{% endblock %}
