@import "../helpers/_vars";

@import "../helpers/_mixins";

.gallery {

	&__item {
		display: flex;
		position: relative;
		margin-bottom: 220px;
		counter-increment: article;

		&:after {
			content: counter(article, decimal-leading-zero);
			position: absolute;
			top: 25%;
			right: 8vw;
			transform: rotate(90deg);
			color: transparent;
			font-size: rem(124);
			-webkit-text-stroke: 2px $text-stroke;
		}
	}

	&__img-wrap {
		position: relative;
		max-width: 70%;
	}

	&__title {
		display: inline-block;
		position: absolute;
		z-index: 100;
		top: -52px;
		right: 0;
		transform-style: preserve-3d;

		perspective: 1100px;
		perspective-origin: 50% 100%;
		background: linear-gradient($text-stroke 50%, transparent 50%);
		font-size: rem(104);
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-stroke: 2px $text-stroke;
		will-change: transform;
	}

	&__num {
		position: absolute;
		top: 25%;
		right: 8vw;
		transform: rotate(90deg);
		color: transparent;
		font-size: rem(124);
		-webkit-text-stroke: 2px $text-stroke;
	}

	&__img {
		position: relative;
		z-index: 1;
		will-change: transform;
		-webkit-transform: translate3d(0,0,0);
	}

	.img__wrap {
		width: 100%;
		overflow: hidden;
	}

	&__link {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		height: 100%;
		transition: letter-spacing $transition-standart;
		animation: infinite-spinning 2s linear infinite;

		color: inherit;
		font-size: rem(14);
		font-weight: 500;
		letter-spacing: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		// cursor: none;

		&-wrap {
			position: relative;
			z-index: 1;
			align-self: flex-end;
			width: 150px;
			height: 150px;
			margin-bottom: 30px;
			margin-left: -75px;
			overflow: hidden;
			border: 2px solid $border-color;
			border-radius: 50%;

			&:hover {

				.gallery__link {
					letter-spacing: 1.2px;
				}
			}
		}

		&-effect {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			margin-top: 0;
			margin-left: 0;
			border-radius: 100%;
			pointer-events: none;

			&.explode-circle {
				animation: explode .3s forwards;
			}

			&.desplode-circle {
				animation: desplode .3s forwards;
			}
		}
	}
}

@include respond-to(phone) {}

@include respond-to(phone-xl) {}

@include respond-to(note) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

@include respond-to(desktop) {}

@include respond-to(desktop-xl) {}



@keyframes infinite-spinning {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes explode {

	0% {
		background-color: rgba($border-color, 0);
	}

	100% {
		width: 400px;
		height: 400px;
		margin-top: -200px;
		margin-left: -200px;
		background-color: $border-color;
	}
}

@keyframes desplode {

	0% {
		width: 400px;
		height: 400px;
		margin-top: -200px;
		margin-left: -200px;
		background-color: $border-color;
	}

	100% {

		background-color: rgba($border-color, 0);
	}
}
