@import "../helpers/_vars";

@import "../helpers/_mixins";


.instagram {
	max-width: 1200px;
	margin: auto;

	&__title {
		padding-bottom: 60px;
		font-size: rem(30);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
	}

	&__item {
		flex-basis: 31%;
		margin: 1%;
	}
}
