<footer class="footer">
  <div class="wrapper">
    <div class="footer__box">
      <ul class="footer__smm smm">
        <li>
          <a href="{{fbLink}}" target="_blank" rel="noopener noreferrer" title="facebook">
            {{mixins.iconColor('facebook')}}
          </a>
        </li>
        <li>
          <a href="{{instaLink}}" target="_blank" rel="noopener noreferrer" title="instagram">
            {{mixins.iconColor('instagram')}}
          </a>
        </li>
        <li>
          <a href="{{telegramLink}}" target="_blank" rel="noopener noreferrer" title="telegram">
            {{mixins.iconColor('telegram')}}
          </a>
        </li>
        <li>
          <a href="{{mobileLink}}" target="_blank" rel="noopener noreferrer" title="phone">
            {{mixins.iconColor('callMe')}}
          </a>
        </li>
      </ul>

      <a class="link" href="https://www.facebook.com/profile.php?id=100009929681094" target="_blank" rel="noopener noreferrer">
        Design and development by <strong>Dmitriy Moskvichov</strong>
      </a>
    </div>
  </div>
</footer>
