<header class="header">
  <div class="wrapper">

    <!-- <a href="tel:+"></a> -->

    <!-- {# variable example #} -->


    <div class="header__box">
      <div class="header__hero">
        <img class="hero1" src="./img/header-illustration-dark.svg" alt role="presenation">
      </div>
      <div class="header__illustration">
        <img class="hero2" src="./img/hero-media-illustration-dark.svg" alt role="presenation">
      </div>

      <div class="header__wrap">
        <div class="header__content">
          <h2 class="header__title">
            Семейное фото
          </h2>
          <h3 class="header__subtitle">
            Сохрани свои лучшие воспоминания навсегда
          </h3>
        </div>

        <div class="header__img">
          <img src="../../img/porfolio.gif" alt role="presenation">
        </div>
      </div>


    </div>

    <!-- <h1>312{{title}}</h1> -->

    <!-- <h2 class="offscreen">Навигационное меню</h2>
    <button class="burger">
      <i></i>
    </button> -->

    <!-- <button class="btn" data-remodal-target="callback"></button> -->

    <!-- {# mixin example #} -->
    {{mixins.iconMono('telegram')}}
    {{mixins.iconColor('telegram')}}
  </div>

</header>
