@import "./helpers/_vars";

@import "./helpers/_mixins";

// BASE
@import "./base/_reset";

@import "./base/_fonts";

@import "./base/_general";

@import "./base/_layout";


// COMPONENTS
// @import "./components/_burger";
// @import "./components/_menuMobile";
@import "./components/_scrollUp";
// @import "./components/_video";
// @import "./components/_cursor";

// PLUGINS
// @import "./plugins/_remodal";
// @import "./plugins/_slick";
// @import "./plugins/_fancybox";
// @import "./plugins/_remodal-customize";
// @import "./plugins/_slick-customize";

// Generated SVG Sprite
@import "./generated/sprite-svg";

// HACKS
@import "./helpers/_hacks";

.header {
	margin-bottom: 80px;

	&__top {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		width: 100%;
		height: 36px;

		.box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 1200px;
			margin: 5px auto;
			padding: 10px 15px;
		}


	}

	&__logo {
		display: flex;
		align-items: center;

		svg {
			width: 80px;
			height: 80px;
			fill: #fff;
		}

		div {
			margin-left: 18px;
		}
	}

	&__smm {
		display: flex;
		justify-content: space-between;
		max-width: 250px;

		li {
			margin-right: 8px;
		}

		svg {
			width: 50px;
			height: 50px;
		}
	}

	&__box {
		position: relative;

	}

	&__hero {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 1440px;
		height: 324px;
	}

	&__illustration {
		position: absolute;
		top: 220px;
		right: 0;
		will-change: transform;
	}

	&__wrap {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1200px;
		height: 900px;
		margin: auto;
	}

	&__title {
		padding-right: 80px;
		font-size: rem(40);
	}

	&__subtitle {
		max-width: 600px;
		padding-top: 15px;
		font-size: rem(36);
	}

	&__img {
		position: relative;
		z-index: 1;
		max-width: 538px;
		max-height: 380px;
		box-shadow: 48px 16px 48px rgba(0,0,0,.2);
		will-change: transform;

		img {
			width: 100%;
		}
	}
}

.bubbles path:nth-of-type(odd) {
	animation: animationBubble1 12s linear infinite;
	will-change: transform;
}

.bubbles path:nth-of-type(even) {
	animation: animationBubble2 7s linear infinite;
	will-change: transform;
}



@keyframes animationBubble1 {

	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(12px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes animationBubble2 {

	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-13px);
	}

	100% {
		transform: translateY(0px);
	}
}
