@import "./helpers/_vars";

@import "./helpers/_mixins";

// BASE
@import "./base/_reset";

@import "./base/_fonts";

@import "./base/_general";

@import "./base/_layout";


// COMPONENTS
// @import "./components/_burger";
// @import "./components/_menuMobile";
@import "./components/_scrollUp";
// @import "./components/_video";
// @import "./components/_cursor";

// PLUGINS
// @import "./plugins/_remodal";
// @import "./plugins/_slick";
// @import "./plugins/_fancybox";
// @import "./plugins/_remodal-customize";
// @import "./plugins/_slick-customize";

// Generated SVG Sprite
@import "./generated/sprite-svg";

// HACKS
@import "./helpers/_hacks";

.header {
	margin-bottom: 80px;

	&__box {
		position: relative;
	}

	&__hero {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 1440px;
		height: 324px;
	}

	&__illustration {
		visibility: hidden;
		position: absolute;
		top: 220px;
		right: 0;
		opacity: 0;
		will-change: transform;
	}

	&__wrap {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 900px;
	}

	&__title {
		padding-right: 80px;
		font-size: rem(40);
	}

	&__subtitle {
		max-width: 600px;
		padding-top: 15px;
		font-size: rem(36);
	}

	&__img {
		visibility: hidden;
		position: relative;
		z-index: 1;
		max-width: 538px;
		max-height: 380px;
		opacity: 0;
		box-shadow: 48px 16px 48px rgba(0,0,0,.2);
		will-change: transform;
	}
}



@include respond-to(phone) {
}

@include respond-to(phone-xl) {
}

@include respond-to(note) {
}

@include respond-to(tablet) {
}

@include respond-to(laptop) {
}

@include respond-to(desktop) {
}

@include respond-to(desktop-xl) {
}
